body, html, #root{
  height: 100%;
  overflow-y: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.paper{
  border: 2px solid;
  background-color: white;
  padding: 2%;
  color: rgba(0, 0, 0, 0.87);
}

.lable-font{
  font-size: 0.9rem;
}

.margin12{
  margin-bottom: 12px;
}

.submitButton{
  display: flex;
  justify-content: center;
}

.error{
  text-align: center;
  color: #d93737;
}

.solid{
  text-align: center;
  margin: 22px 0 20px;
  border-bottom: 3px solid #bbb;
  line-height: 0.1em;
}

.solid span{
  padding: 0 10px;
  background-color: #fff;
}

.hide-file{
  display: none;
}

.center{
  text-align: center;
}

.tableHeight{
  height: 500px;
}

.patientInfo{
  display: flex;
  justify-content: center;
}